---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Beat this summer with a cool soft breeze</h1>
  <p class="doc">
    Introducing the Rechargeable DC fan with built in battery.
  </p><!-- .doc -->

  <img class='banner-img' src='images/dc-fan.jpg'>

  <h2>Features</h2>
  <ul>
    <li> Conviniently wall mountable </li>
    <li> Can be charged using a solar panel or an SMPS. </li>
    <li> Can be mounted on a pedestal stand (sold separately) </li>
    <li> Something about ports </li>
  </ul>

  <h2>Specifications</h2>
  <ul>
    <li> Diameter: 10 inches </li>
    <li> Battery: 6 Volt 4.5 Ah </li>
  </ul>

</div><!-- .welcome -->
